
body{
    background-color: beige;
}

.wrapper{
    width: 100%;
    height: 500px;
    margin: 0;
    padding: 0;
    background-color: beige;
    text-align: center;
}


button{
    width:40%;
    text-align: center;
    margin: 20px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
